.volume-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 140px;
  padding-top: 15px;
  background-color: black;
}
.volume-slider-input {
  transform: rotate(270deg);
  width: auto;
  height: auto;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}
