.chat_bot {
  display: flex;
  justify-content: center;
}
.user-message {
  display: flex;
  flex-direction: row-reverse;
  background-color: #2a90e8;
  color: white;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.bot-message {
  display: flex;
  flex-direction: row;
  background-color: #e9e9eb;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.chat-messages {
  scrollbar-width: none !important;
  height: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}
